<h3> 열 순서 변경 </h3>

데이터프레임의 열 순서를 변경하려면 열 이름을 원하는 순서대로 정리해서 데이터프레임에 리스트 형태로 전달하면 된다.

* **데이터프레임의 열 순서 변경: DataFrame 객체[재구성한 열 이름의 리스트]**

먼저 타이타닉 데이터셋을 불러오자.

In [ ]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[0:4, 'survived' : 'age']
print(df, '\n')

   survived  pclass     sex   age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

데이터프레임의 columns 속성을 이용해 열 이름을 가진 리스트를 만들자.

* df.columns를 바로 리스트로 바꿔도 되고 values 속성에서 바꿔도 된다. (책은 values 속성에서 바꿨다.)

In [ ]:
print(df.columns)
print(type(df.columns))

Index(['survived', 'pclass', 'sex', 'age'], dtype='object')
<class 'pandas.core.indexes.base.Index'>

In [ ]:
columns = list(df.columns)
print(columns)

['survived', 'pclass', 'sex', 'age']

In [ ]:
columns = list(df.columns.values)
print(columns)

['survived', 'pclass', 'sex', 'age']

열 이름이 저장된 리스트(columns)를 알파벳 순서로 정렬하고 열 순서를 바꿔보자.

In [ ]:
columns_sorted = sorted(columns)
df_sorted = df[columns_sorted]
print(df_sorted)

    age  pclass     sex  survived
0  22.0       3    male         0
1  38.0       1  female         1
2  26.0       3  female         1
3  35.0       1  female         1
4  35.0       3    male         0

이번에는 리스트를 알파벳 역순으로 정렬하고 열 순서를 바꿔보자.

In [ ]:
columns_reversed = list(reversed(columns))
df_reversed = df[columns_reversed]
print(df_reversed)

    age     sex  pclass  survived
0  22.0    male       3         0
1  38.0  female       1         1
2  26.0  female       3         1
3  35.0  female       1         1
4  35.0    male       3         0

직접 순서를 정해 리스트를 만들고 열 순서를 조정할 수도 있다.

In [ ]:
columns_customed = ['pclass', 'sex', 'age', 'survived']
df_customed = df[columns_customed]
print(df_customed)

   pclass     sex   age  survived
0       3    male  22.0         0
1       1  female  38.0         1
2       3  female  26.0         1
3       1  female  35.0         1
4       3    male  35.0         0

<h3> 열 분리 </h3>

하나의 열이 여러 정보를 담고 있을 때 각 정보를 분리해 사용하는 경우가 있다. 어떤 열에 '연월일' 정보가 있을 때 '연', '월', '일'로 구분하거나, 사람의 이름이 들어 있는 열을 '성'과 '이름'으로 구분하기도 한다. <br>
우리는 **str 속성**을 이용해 문자열 데이터에 접근하는 방법을 이용하여 '연', '월', '일'을 구분할 것이다. <br>
먼저 데이터셋을 불러오자.

In [ ]:
import pandas as pd

df = pd.read_excel('주가데이터.xlsx', engine = 'openpyxl')
print(df.head(), '\n')
print(df.dtypes)

         연월일   당일종가  전일종가     시가     고가     저가     거래량
0 2018-07-02  10100   600  10850  10900  10000  137977
1 2018-06-29  10700   300  10550  10900   9990  170253
2 2018-06-28  10400   500  10900  10950  10150  155769
3 2018-06-27  10900   100  10800  11050  10500  133548
4 2018-06-26  10800   350  10900  11000  10700   63039

연월일     datetime64[ns]
당일종가             int64
전일종가             int64
시가               int64
고가               int64
저가               int64
거래량              int64
dtype: object

'연월일' 열이 datetime64 자료형이므로 str 속성으로 바꾸자. 그리고 str 속성의 **split() 메소드**를 이용하면 '연', '월', '일'로 나눌 수 있다.

In [ ]:
df['연월일'] = df['연월일'].astype('str')
dates = df['연월일'].str.split('-')
print(dates.head())

0    [2018, 07, 02]
1    [2018, 06, 29]
2    [2018, 06, 28]
3    [2018, 06, 27]
4    [2018, 06, 26]
Name: 연월일, dtype: object

str 속성의 **get() 메소드**를 이용하면 저장된 문자열 리스트의 원소를 선택할 수 있다. <br>
즉, 0은 '연', 1은 '월', 2는 '일' 속성에 접근할 수 있다.

In [ ]:
df['연'] = dates.str.get(0)
df['월'] = dates.str.get(1)
df['일'] = dates.str.get(2)
print(df.head())

          연월일   당일종가  전일종가     시가     고가     저가     거래량     연   월   일
0  2018-07-02  10100   600  10850  10900  10000  137977  2018  07  02
1  2018-06-29  10700   300  10550  10900   9990  170253  2018  06  29
2  2018-06-28  10400   500  10900  10950  10150  155769  2018  06  28
3  2018-06-27  10900   100  10800  11050  10500  133548  2018  06  27
4  2018-06-26  10800   350  10900  11000  10700   63039  2018  06  26