판다스는  행 인덱스를 여러 레벨로 구현할 수 있도록 멀티 인덱스 클래스를 지원한다. <br>
먼저 'class', 'sex' 열을 기준으로 데이터를 나눠보자.

In [ ]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'sex', 'class', 'fare', 'survived']]

grouped = df.groupby(['class', 'sex'])

gdf = grouped.mean()
print(gdf, '\n')
print(type(gdf))

                     age        fare  survived
class  sex
First  female  34.611765  106.125798  0.968085
       male    41.281386   67.226127  0.368852
Second female  28.722973   21.970121  0.921053
       male    30.740707   19.741782  0.157407
Third  female  21.750000   16.118810  0.500000
       male    26.507589   12.661633  0.135447

<class 'pandas.core.frame.DataFrame'>

**하나의 인덱스만 사용**해보자.

In [ ]:
print(gdf.loc['First'])

              age        fare  survived
sex
female  34.611765  106.125798  0.968085
male    41.281386   67.226127  0.368852

**두 개의 인덱스를 사용**해보자. 단, 튜플 형태로 입력해야한다.

In [ ]:
print(gdf.loc[('First', 'female')])

age          34.611765
fare        106.125798
survived      0.968085
Name: (First, female), dtype: float64

위의 loc 인덱서 대신 **xs 인덱서**를 사용할 수 있다. 'sex' 인덱스에서 'male' 값을 갖는 행을 추출해보자.

In [ ]:
print(gdf.xs('male', level = 'sex'))

              age       fare  survived
class
First   41.281386  67.226127  0.368852
Second  30.740707  19.741782  0.157407
Third   26.507589  12.661633  0.135447