**pivot_table() 함수**로 피벗 테이블을 만들 수 있다. 행 인덱스, 열 인덱스, 데이터 값, 데이터 집계 함수를 인자로 전달해야한다. <br>
먼저 titanic 데이터셋을 불러오고 데이터프레임을 생성하자. <br>
행 인덱스는 'class'열, 열 인덱스는 'sex'열을 지정하자. 데이터 값은 'age'열을 지정하고 집계 함수는 'mean'함수로 설정하자. <br>
결과적으로 행 인덱스에는 'class'열의 값, 열 인덱스에는 'sex'열의 값이 표시된다. 'age'열의 승객 나이 데이터의 평균값을 계산하여 출력한다.

In [ ]:
import pandas as pd
import seaborn as sns

pd.set_option('display.max_columns', 10)
pd.set_option('display.max_colwidth', 20)

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'sex', 'class', 'fare', 'survived']]
print(df.head())
print('\n')

pdf1 = pd.pivot_table(df,
                      index = 'class',
                      columns = 'sex',
                      values = 'age',
                      aggfunc = 'mean')

print(pdf1.head())

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
1  38.0  female  First  71.2833         1
2  26.0  female  Third   7.9250         1
3  35.0  female  First  53.1000         1
4  35.0    male  Third   8.0500         0


sex        female       male
class
First   34.611765  41.281386
Second  28.722973  30.740707
Third   21.750000  26.507589

이번에는 survived 열을 데이터 값으로 사용하고 **집계 함수를 2개** 사용해보자. 집계 함수를 여러개 사용하려면 리스트 형태로 입력해주면 된다. <br>
행 인덱스는 이전과 동일하게 출력되며 열 인덱스는 **2중 멀티 인덱스**가 된다. 집계 함수가 한 층을 이루가 'sex' 열의 값이 다음 층으로 사용된다.

In [ ]:
pdf2 = pd.pivot_table(df,
                      index = 'class',
                      columns = 'sex',
                      values = 'survived',
                      aggfunc = ['mean', 'sum'])
print(pdf2.head())

            mean              sum
sex       female      male female male
class
First   0.968085  0.368852     91   45
Second  0.921053  0.157407     70   17
Third   0.500000  0.135447     72   47

**pivot_table() 함수에 전달할 인자에 2개 이상의 열을 입력할 수 있다.** 이번에는 행 인덱스와\, 데이터 값, 집계함수를 2개씩 지정해보자.

In [ ]:
pdf3 = pd.pivot_table(df,
                      index = ['class', 'sex'],
                      columns = 'survived',
                      values = ['age', 'fare'],
                      aggfunc = ['mean', 'max'])

pd.set_option('display.max_columns', 10)
print(pdf3.head())
print('\n')

print(pdf3.index)
print(pdf3.columns)

                    mean                                      max        \
                     age                   fare               age
survived               0          1           0           1     0     1
class  sex
First  female  25.666667  34.939024  110.604167  105.978159  50.0  63.0
       male    44.581967  36.248000   62.894910   74.637320  71.0  80.0
Second female  36.000000  28.080882   18.250000   22.288989  57.0  55.0
       male    33.369048  16.022000   19.488965   21.095100  70.0  62.0
Third  female  23.818182  19.329787   19.773093   12.464526  48.0  63.0


                 fare
survived            0         1
class  sex
First  female  151.55  512.3292
       male    263.00  512.3292
Second female   26.00   65.0000
       male     73.50   39.0000
Third  female   69.55   31.3875


MultiIndex([( 'First', 'female'),
            ( 'First',   'male'),
            ('Second', 'female'),
            ('Second',   'male'),
            ( 'Third', 'female'),
            ( 'Third',   'male')],
           names=['class', 'sex'])
MultiIndex([('mean',  'age', 0),
            ('mean',  'age', 1),
            ('mean', 'fare', 0),
            ('mean', 'fare', 1),
            ( 'max',  'age', 0),
            ( 'max',  'age', 1),
            ( 'max', 'fare', 0),
            ( 'max', 'fare', 1)],
           names=[None, None, 'survived'])

데이터프레임에 접근하기 위한 **xs 인덱서**를 사용해보자. <br> axis 매개변수의 기본값은 0으로 기본적으로 행 인덱스에 접근한다. 먼저 행 인덱스가 'First'인 데이터를 출력해보자.

In [ ]:
print(pdf3.xs('First'))

               mean                                      max                \
                age                   fare               age          fare
survived          0          1           0           1     0     1       0
sex
female    25.666667  34.939024  110.604167  105.978159  50.0  63.0  151.55
male      44.581967  36.248000   62.894910   74.637320  71.0  80.0  263.00



survived         1
sex
female    512.3292
male      512.3292

다음으로 행 인덱스 레벨 0에서 'First'를 가져오고, 레벨 1에서 'female'을 가져오자.

In [ ]:
print(pdf3.xs(('First', 'female')))

            survived
mean  age   0            25.666667
            1            34.939024
      fare  0           110.604167
            1           105.978159
max   age   0            50.000000
            1            63.000000
      fare  0           151.550000
            1           512.329200
Name: (First, female), dtype: float64

이번에는 **행 인덱스 레벨을 직접 지정**해보자. 'sex' 레벨에서 남성 승객만 추출해보자.

In [ ]:
print(pdf3.xs('male', level = 'sex'))

               mean                                    max                \
                age                  fare              age          fare
survived          0          1          0          1     0     1       0
class
First     44.581967  36.248000  62.894910  74.637320  71.0  80.0  263.00
Second    33.369048  16.022000  19.488965  21.095100  70.0  62.0   73.50
Third     27.255814  22.274211  12.204469  15.579696  74.0  45.0   69.55



survived         1
class
First     512.3292
Second     39.0000
Third      56.4958

마지막으로 행 인덱스 레벨 0에서 'Second', 레벨 1에서 'male'을 가져오자. <br>
1대신 'sex'를 사용해도 결과는 동일하다.

In [ ]:
print(pdf3.xs(('Second', 'male'), level = [0, 'sex']))

                  mean                               max
                   age               fare            age        fare
survived             0       1          0        1     0     1     0     1
class  sex
Second male  33.369048  16.022  19.488965  21.0951  70.0  62.0  73.5  39.0

xs 인덱서로 **열 인덱스도 접근**할 수 있다. axis 매개변수를 1로 지정해야한다. <br>
먼저 'mean'열을 가져와보자.

In [ ]:
print(pdf3.xs('mean', axis = 1))

                     age                   fare
survived               0          1           0           1
class  sex
First  female  25.666667  34.939024  110.604167  105.978159
       male    44.581967  36.248000   62.894910   74.637320
Second female  36.000000  28.080882   18.250000   22.288989
       male    33.369048  16.022000   19.488965   21.095100
Third  female  23.818182  19.329787   19.773093   12.464526
       male    27.255814  22.274211   12.204469   15.579696

열 인덱스 레벨 0에서 'mean', 레벨 1에서 'age'를 가져와보자.

In [ ]:
print(pdf3.xs(('mean', 'age'), axis = 1))

survived               0          1
class  sex
First  female  25.666667  34.939024
       male    44.581967  36.248000
Second female  36.000000  28.080882
       male    33.369048  16.022000
Third  female  23.818182  19.329787
       male    27.255814  22.274211

**열 인덱스 레벨을 직접 지정**해보자. 'survived' 레벨의 값이 1인 데이터만 추출하자.

In [ ]:
print(pdf3.xs(1, level = 'survived', axis = 1))

                    mean               max
                     age        fare   age      fare
class  sex
First  female  34.939024  105.978159  63.0  512.3292
       male    36.248000   74.637320  80.0  512.3292
Second female  28.080882   22.288989  55.0   65.0000
       male    16.022000   21.095100  62.0   39.0000
Third  female  19.329787   12.464526  63.0   31.3875
       male    22.274211   15.579696  45.0   56.4958

열 인덱스 레벨 0은 'max', 레벨 1은 'fare', 레벨 2는 0(survived의 데이터값'인 데이터를 추출해보자.

In [ ]:
print(pdf3.xs(('max', 'fare', 0), level = [0, 1, 2], axis = 1))

                  max
                 fare
survived            0
class  sex
First  female  151.55
       male    263.00
Second female   26.00
       male     73.50
Third  female   69.55
       male     69.55