데이터프레임에서 각 행은 분석 대상이 갖고 있는 모든 속성(변수)에 대한 관측값(레코드)을 뜻한다. 하나의 데이터셋에서 동일한 관측값이 2개 이상 중복되는 경우 중복 데이터를 찾아서 삭제해야 한다. 동일한 대상이 중복으로 존재하면 분석 결과를 왜곡하기 때문이다.

<h3> 중복 데이터 확인 </h3>

**duplicated() 메소드**를 사용하면 행이 중복되는지 확인할 수 있다. 전에 나온 행들과 비교해 중복되는 행이면 True, 중복되지 않으면 False를 반환한다.

In [4]:
import pandas as pd

df = pd.DataFrame({'c1': ['a', 'a', 'b', 'a', 'b'],
                   'c2': [1, 1, 1, 2, 2],
                   'c3': [1, 1, 2, 2, 2]})
print(df)
print('\n')

df_dup = df.duplicated()
print(df_dup)

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2


0    False
1     True
2    False
3    False
4    False
dtype: bool

데이터프레임의 열은 시리즈 객체이므로 duplicated() 메소드를 적용할 수 있다.

In [5]:
col_dup = df['c2'].duplicated()
print(col_dup)

0    False
1     True
2     True
3    False
4     True
Name: c2, dtype: bool

<h3> 중복 데이터 제거 </h3>

**drop_duplicates() 메소드**를 사용하면 중복 데이터를 제거할 수 있다. 원본 객체를 변경하려면 inplace 매개변수를 True로 지정하면 된다.

In [6]:
df2 = df.drop_duplicates()
print(df2)
print('\n')

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

**subset 매개변수**로 열 이름의 리스트를 전달할 수 있다. subset 매개변수에 전달된 열들을 기준으로 중복 여부를 판단한다.

In [7]:
df3 = df.drop_duplicates(subset = ['c2', 'c3'])
print(df3)

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2