<h3> 데이터 내용 미리보기 </h3>

**head() 메소드**는 데이터프레임의 앞부분 일부 내용을 출력한다. 데이터셋의 내용과 구조를 개략적으로 살펴볼 수 있기 때문에 분석 방향을 정하는데 필요한 정보를 얻을 수 있다. 또한 데이터프레임이 너무 커서 화면에 출력하기 어려울 때 사용해도 좋다. 단, 데이터프레임의 마지막 부분을 보고 싶다면, **tail() 메소드**를 사용한다.

head(), tail() 메소드는 인자로 **정수 n을 전달**하면 처음 n개 혹은 마지막 n개의 행을 보여준다. 단, 아무런 값도 전달하지 않으면 5개의 행만 출력한다.

* **앞부분 미리보기: DataFrame 객체.head(n)**
* **뒷부분 미리보기: DataFrame 객체.tail(n)**

In [ ]:
import pandas as pd

df = pd.read_csv('auto-mpg.csv', header = None)

df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

print(df.head())
print('\n')
print(df.tail())

    mpg  cylinders  displacement  ... model year  origin                       name
0  18.0          8         307.0  ...         70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...         70       1          buick skylark 320
2  18.0          8         318.0  ...         70       1         plymouth satellite
3  16.0          8         304.0  ...         70       1              amc rebel sst
4  17.0          8         302.0  ...         70       1                ford torino

[5 rows x 9 columns]


      mpg  cylinders  displacement  ... model year  origin             name
393  27.0          4         140.0  ...         82       1  ford mustang gl
394  44.0          4          97.0  ...         82       2        vw pickup
395  32.0          4         135.0  ...         82       1    dodge rampage
396  28.0          4         120.0  ...         82       1      ford ranger
397  31.0          4         119.0  ...         82       1       chevy s-10

[5 rows x 9 columns]

<h3> 데이터프레임의 크기(행, 열) </h3>

데이터프레임 클래스의 **shape 속성**은 행과 열의 개수를 투플 형태로 보여준다. 

* **데이터프레임의 크기 확인: DataFrame 객체.shape**

In [ ]:
print(df.shape)

(398, 9)

<h3> 데이터프레임의 기본 정보 </h3>

**info() 메소드**를 데이터프레임에 적용하면 데이터프레임에 대한 기본 정보를 화면에 출력한다. 클래스 유형, 행 인덱스의 구성, 열 이름의 종류와 개수, 각 열의 자료형과 개수, 메모리 할당량에 관한 정보가 포함된다.

* **데이터프레임의 기본 정보 출력: DataFrame 객체.info()**

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
None

데이터프레임 클래스의 **dtypes 속성**을 활용하여 각 열의 자료형을 확인할 수 있다. 특정 열만 선택하여 적용하는 것도 가능하다.

In [ ]:
print(df.dtypes)
print('\n')

print(df.mpg.dtypes)

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
name             object
dtype: object


float64

<h3> 데이터프레임의 기술 통계 정보 요약 </h3>

데이터프레임에 **describe() 메소드**를 적용하면, 산술(숫자) 데이터를 갖는 열에 대한 주요 기술 통계 정보(평균, 표준편차, 최대값, 최소값, 중간값 등)를 요약하여 출력한다. <br>
산술 데이터가 아닌 열에 대한 정보를 포함하고 싶을 때는 **include 매개변수**를 'all'로 지정하면 된다. 이를 이용하면 문자열 데이터가 들어 있는 열의 unique(고유값 개수), top(최빈값), freq(빈도수)에 대한 정보가 추가된다. 하지만 산술 데이터를 가진 열에 대해서 해당 값들은 NaN 으로 표시된다.

* **데이터프레임의 기술 통계 정보 요약: DataFrame 객체.describe()**

In [ ]:
print(df.describe())
print('\n')
print(df.describe(include = 'all'))

              mpg   cylinders  ...  model year      origin
count  398.000000  398.000000  ...  398.000000  398.000000
mean    23.514573    5.454774  ...   76.010050    1.572864
std      7.815984    1.701004  ...    3.697627    0.802055
min      9.000000    3.000000  ...   70.000000    1.000000
25%     17.500000    4.000000  ...   73.000000    1.000000
50%     23.000000    4.000000  ...   76.000000    1.000000
75%     29.000000    8.000000  ...   79.000000    2.000000
max     46.600000    8.000000  ...   82.000000    3.000000

[8 rows x 7 columns]


               mpg   cylinders  ...      origin        name
count   398.000000  398.000000  ...  398.000000         398
unique         NaN         NaN  ...         NaN         305
top            NaN         NaN  ...         NaN  ford pinto
freq           NaN         NaN  ...         NaN           6
mean     23.514573    5.454774  ...    1.572864         NaN
std       7.815984    1.701004  ...    0.802055         NaN
min       9.000000    3.000000  ...    1.000000         NaN
25%      17.500000    4.000000  ...    1.000000         NaN
50%      23.000000    4.000000  ...    1.000000         NaN
75%      29.000000    8.000000  ...    2.000000         NaN
max      46.600000    8.000000  ...    3.000000         NaN

[11 rows x 9 columns]

<h3> 각 열의 데이터 개수 </h3>

info() 메소드는 화면에 각 열의 데이터 개수 정보를 출력하지만 반환하는 값이 없어서 다시 사용하는데 어려움이 있다. **count() 메소드**는 데이터프레임의 각 열이 가지고 있는 데이터 개수를 시리즈 객체로 반환한다. 단, 유효한 값의 개수만 계산한다.

* **열 데이터 개수 확인: DataFrame 객체.count()**

In [ ]:
print(df.count())
print('\n')
print(type(df.count()))

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
name            398
dtype: int64


<class 'pandas.core.series.Series'>

<h3> 각 열의 고유값 개수 </h3>

**value_counts() 메소드**는 시리즈 객체의 고유값(unique value) 개수를 세는 데 사용한다. 데이터프레임의 열은 시리즈이므로, value_counts() 메소드로 각 열의 고유값의 종류와 개수를 확인할 수 있다. 고유값이 행 인덱스가 되고, 고유값의 개수가 데이터 값이 되는 시리즈 객체가 만들어진다. <br>
**dropna 매개변수**를 True로 지정하면 NaN 값을 제외하고 개수를 계산하고 기본값은 False이다.

* **열 데이터의 고유값 개수: DataFrame 객체["열 이름"].value_counts()**

In [ ]:
unique_values = df['origin'].value_counts()
print(unique_values)
print('\n')

print(type(unique_values))

1    249
3     79
2     70
Name: origin, dtype: int64


<class 'pandas.core.series.Series'>