데이테프레임은 2차원 배열이다. 행과 열로 만들어지는 2차원 배열 구조는 엑셀(Excel), 관계형 데이터베이스(RDBMS) 등 컴퓨터 관련 다양한 분야에서 사용된다. 판다스의 데이터프레임 자료구조는 대표적인 통계 패키지인 R의 데이터프레임에서 유래됐다.

데이터프레임은 **여러 개의 시리즈들이 열로 모여있는 구조**이다. 시리즈를 열벡터(vector)라고 하면, 데이터프레임은 여러 열벡터들이 같은 행 인덱스를 기준으로 줄지어 결합된 **2차원 벡터** 또는 **행렬(matrix)**이다.

데이터 프레임은 행과 열을 나타내기 위해 '행 인덱스(row index)'와 '열 이름(column name 또는 column label)을 사용한다. 데이터프레임의 열은 공통의 속성을 갖는 일련의 데이터를 나타내고, 행은 개별 관측대상에 대한 다양한 속성 데이터들의 모임인 **레코드(record)**가 된다.

<h3> 데이터프레임 만들기 </h3>

데이터 프레임을 만들기 위해서는 같은 길이의 1차원 배열 여러 개가 필요하다. 딕셔너리의 값에 해당하는 리스트는 시리즈 배열로 변환되어 데이터프레임의 열이 된다. 그리고 키는 각 시리즈의 이름으로 변환되어 데이터프레임의 열 이름이 된다. 

데이터프레임을 만들 때는 **DataFrame() 함수**를 사용한다. 아래와 같이 여러 개의 리스트를 원소로 갖는 딕셔너리를 함수의 인자로 전달하는 방식이 주로 활용된다.

* **딕셔너리 -> 데이터프레임 변환: pandas.DataFrame( 딕셔너리 객체 )**

아래 리스트 5개를 원소로 갖는 딕셔너리를 정의하고 판다스 DataFrame() 함수에 전달한 코드이다.

In [ ]:
import pandas as pd

# 딕셔너리를 정의한다.
dict_data = {'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [13, 14, 15]}

# 딕셔너리를 판다스 데이터프레임으로 변환한다.
df = pd.DataFrame(dict_data)

# df의 자료형을 출력한다.
print(type(df))
print('\n')
# 변수 df에 저장되어 있는 데이터프레임 객체를 출력한다.
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

길이가 다른 여러 배열을 데이터프레임으로 바꿀 경우 에러가 발생한다.

In [ ]:
# dict_data = {'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8]}
# df = pd.DataFrame(dict_data) 
# ValueError: arrays must all be same length 발생

<h3> 행 인덱스 / 열 이름 설정 </h3>

데이터프레임의 구조적 특성 때문에 2차원 배열 형태의 데이터를 데이터프레임으로 변환하기 쉽다. 2차원 배열을 DataFrame() 함수의 인자로 전달하면 행 인덱스와 열 이름 속성을 사용자가 직접 지정할 수 있다.

* **pandas.DataFrame( 2차원 배열, index = 행 인덱스 배열, columns = 열 이름 배열)**

In [ ]:
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']])
print(df)

    0  1    2
0  15  남  덕영중
1  17  여  수리중

**2차원 배열을 전달할 경우 딕셔너리와 다르게 한 리스트당 하나의 행으로 변환된다.** 

데이터프레임의 행 인덱스는 **index 속성**, 열 이름 배열은 **columns 속성**으로 접근할 수 있다. df.index와 df.columns의 속성에 새로운 배열을 할당하는 방식으로 행 인덱스와 열 이름을 변경할 수 있다.

데이터프레임을 만들고 열 인덱스와 행 이름 배열을 출력해보자.

In [ ]:
# 행 인덱스, 열 이름 지정하여 데이터 프레임 생성
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']], index = ['준서', '예은'], columns = ['나이', '성별', '학교'])

print(df)
print('\n')
print(df.index)
print(df.columns)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


Index(['준서', '예은'], dtype='object')
Index(['나이', '성별', '학교'], dtype='object')

행 인덱스와 열 이름을 바꿔보자.

In [ ]:
# 행 인덱스, 열 이름 변경
df.index = ['학생1', '학생2']
df.columns = ['연령', '남녀', '소속']

print(df)
print('\n')
print(df.index)
print(df.columns)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중


Index(['학생1', '학생2'], dtype='object')
Index(['연령', '남녀', '소속'], dtype='object')

데이터프레임의 **rename() 메소드**를 적용하면 행 인덱스 또는 열 이름의 일부를 선택하여 변경할 수 있다. 단, 원복 객체를 수정하는 것이 아니라 새로운 데이터프레임 객체를 반환한다. 원본 객체를 변경하려면 **inplace 매개변수**를 True로 지정한다.

* **행 인덱스 변경: DataFrame 객체.rename(index = {기존 인덱스:새 인덱스, ...})**
* **열 이름 변경: DataFrame 객체.rename(columns = {기존 이름:새 이름, ...})**

이 함수를 사용해 index, columns 속성을 사용했던 과정을 그대로 재현해보자.

In [ ]:
# 행 인덱스, 열 이름 지정하여 데이터 프레임 생성
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']], index = ['준서', '예은'], columns = ['나이', '성별', '학교'])

print(df)
print('\n')

# 행 이름 변경
df.rename(columns = {'나이': '연령', '성별': '남녀', '학교': '소속'}, inplace = True)
df.rename(index = {'준서': '학생1', '예은': '학생2'}, inplace = True)

print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

<h3> 행/열 삭제 </h3>

데이터프레임의 행 또는 열을 삭제하는 명령으로 drop() 메소드가 있다. <br>
행을 삭제할 때는 axis 매개변수를 0으로 지정하거나 별도로 입력하지 않아도 된다. <br>
열을 삭제할 때는 axis 매개변수를 1로 지정하면된다.<br>
동시에 여러 개의 행 또는 열을 삭제하려면 리스트 형태로 입력한다.

drop() 메소드는 기존 객체를 변경하지 않고 새로운 객체를 반환한다. 원본 객체를 지접 변경하기 위해서는 inplace 매개변수를 True로 지정한다.

* **행 삭제: 데이터프레임 객체.drop(행 인덱스 또는 배열, axis = 0)**
* **열 삭제: 데이터프레임 객체.drop(열 이름 또는 배열, axis = 1)**

행을 삭제해보자.

In [ ]:
exam_data = {'수학': [90, 80, 79], '영어': [98, 89, 95], '음악': [85, 95, 100], '체육': [100, 90, 90]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)
print('\n')

df2 = df[:]
# df2 = df로 코드를 작성하면 df2와 df가 동일한 곳을 가리키게 된다.
# 따라서 df2나 df를 변경할 경우 둘다 바뀌게 된다.
# 이때 df[:]처럼 슬라이싱으로 표현하여 전달하면 새로운 객체가 만들어져 위 문제를 해결할 수 있다.
df2.drop('우현', inplace = True)
# inplace 매개변수를 True로 지정하지 않아도 아래 코드로 대체 가능하다.
# df2 = df2.drop('우현')
print(df2)
print('\n')

df3 = df[:]
df3.drop(['우현', '인아'], axis = 0, inplace = True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  79  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  79  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

이번에는 열을 삭제해보자.

* 이번에는 df의 전체를 슬라이싱으로 표현해 전달하지 않고 데이터프레임의 **copy() 메서드**를 사용해보자.

In [ ]:
exam_data = {'수학': [90, 80, 79], '영어': [98, 89, 95], '음악': [85, 95, 100], '체육': [100, 90, 90]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)
print('\n')

df4 = df.copy()
df4.drop('수학', axis = 1, inplace = True)
print(df4)
print('\n')

df5 = df.copy()
df5.drop(['영어', '음악'], axis = 1, inplace = True)
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  79  95  100   90


    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90


    수학   체육
서준  90  100
우현  80   90
인아  79   90

<h3> 행 선택 </h3>

데이터프레임에서 행을 선택하기 위해서는 **loc 인덱서**와 **iloc 인덱서**를 사용한다. 인덱서 이름을 기준으로 행을 선택할 때는 loc 인덱서, 정수형 위치 인덱스를 사용하는 경우에는 iloc 인덱서를 사용한다.

* **loc: 탐색 대상 - 인덱스 이름 / iloc: 탐색 대상 - 정수형 위치 인덱스**

이때 **한 개의 행을 선택하는 경우 하나의 시리즈 객체를 반환**한다.<br>
loc 인덱서와 iloc 인덱서로 하나의 행을 선택해보자.

* 시리즈와 동일하게 인덱스 이름이 있더라도 정수형 위치 인덱스로 접근이 가능하다.

In [ ]:
exam_data = {'수학': [90, 80, 79], '영어': [98, 89, 95], '음악': [85, 95, 100], '체육': [100, 90, 90]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)
print('\n')

# loc 인덱서와 iloc 인덱서 사용
label1 = df.loc['서준']
position1 = df.iloc[0]
print(label1)
print(type(label1))
print('\n')
print(position1)
print(type(position1))

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  79  95  100   90


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64
<class 'pandas.core.series.Series'>


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64
<class 'pandas.core.series.Series'>

2개 이상의 행 인덱스를 리스트 형태로 입력하면 데이터프레임 객체를 반환한다. <br>
두 개 이상의 행을 선택하기 위해서는 아래와 같은 방식을 사용할 수 있다.

* loc / iloc 인덱서에 행 이름 / 정수형 인덱스를 **리스트 형태로 전달**한다. <br>
(리스트의 원소가 하나라도 데이터프레임 객체 반환한다.) 
* 슬라이싱을 이용해 **범위를 지정**한다. (행 이름: 끝 포함 / 정수형 인덱스: 끝 제외)

인덱서에 리스트를 전달해보자.

In [ ]:
label1 = df.loc[['서준']]
position1 = df.iloc[[0]]
print(label1)
print(type(label1))
print('\n')
print(position1)
print(type(position1))
print('\n')

label2 = df.loc[['서준', '우현']]
position2 = df.iloc[[0, 1]]
print(label2)
print(type(label2))
print('\n')
print(position2)
print(type(position2))

    수학  영어  음악   체육
서준  90  98  85  100
<class 'pandas.core.frame.DataFrame'>


    수학  영어  음악   체육
서준  90  98  85  100
<class 'pandas.core.frame.DataFrame'>


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90
<class 'pandas.core.frame.DataFrame'>


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90
<class 'pandas.core.frame.DataFrame'>

인덱서에 범위를 전달해보자.

In [ ]:
label3 = df.loc['서준':'우현']
position3 = df.iloc[0:1]
print(label3)
print(type(label3))
print('\n')
print(position3)
print(type(position3))

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90
<class 'pandas.core.frame.DataFrame'>


    수학  영어  음악   체육
서준  90  98  85  100
<class 'pandas.core.frame.DataFrame'>

데이터프레임의 원소 데이터를 선택할 때 범위를 지정하여 슬라이싱하는 방법을 여러가지로 응용할 수 있다. iloc 인덱서를 예로 들어보자.

* **범위 슬라이싱: DataFrame 객체.iloc[시작 인덱스:끝 인덱스:슬라이싱 간격]**

범위 슬라이싱을 사용해 데이터프레임의 모든 행에 대해 0행 부터 2행 간격으로 선택해보자.

In [ ]:
print(df.iloc[ : : 2])

    수학  영어   음악   체육
서준  90  98   85  100
인아  79  95  100   90

In [ ]:
print(df.iloc[0:3:2])

    수학  영어   음악   체육
서준  90  98   85  100
인아  79  95  100   90

역순으로 인덱싱하려면 아래와 같이 입력하면 된다.

In [ ]:
print(df.iloc[ : :-1])

    수학  영어   음악   체육
인아  79  95  100   90
우현  80  89   95   90
서준  90  98   85  100

<h3> 열 선택 </h3>

데이터프레임의 열 데이터를 1개만 선택할 때 사용할 수 있는 방식은 두 가지가 있다.

* **대괄호 안에 열 이름을 따옴표와 함께 입력한다.**
* **도트(.) 다음에 열 이름을 입력한다.** (열 이름이 문자열일 경우에만 가능하다.)

열을 1개만 선택할 때는 시리즈 객체를 반환한다.

* **열 1개 선택(시리즈 생성): DataFrame 객체["열 이름"] 또는 DataFrame 객체.열 이름**

대괄호 안에 **열 이름의 리스트를 입력**하면 리스트의 원소인 열을 모두 선택해 데이터프레임으로 반환된다. 또한 행과 동일하게 원소가 하나인 리스트를 전달해도 데이터프레임이 반환된다.

* **열 n개 선택(데이터프레임 생성): DataFrame 객체[[ 열1, 열2, ..., 열n ]]**

먼저 열 1개를 선택해보자.

In [ ]:
exam_data = {'이름': ['서준', '우현', '인아'],
             '수학': [90, 80, 79], 
             '영어': [98, 89, 95], 
             '음악': [85, 95, 100], 
             '체육': [100, 90, 90]}

df = pd.DataFrame(exam_data)
print(df)
print(type(df))
print('\n')

math1 = df['수학']
print(math1)
print(type(math1))
print('\n')

english = df.영어
print(english)
print(type(english))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  79  95  100   90
<class 'pandas.core.frame.DataFrame'>


0    90
1    80
2    79
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>


0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

이번에는 열 2개를 선택해보자.

In [ ]:
music_gym = df[['음악', '체육']]
print(music_gym)
print(type(music_gym))
print('\n')

math2 = df[['수학']]
print(math2)
print(type(math2))

    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>


   수학
0  90
1  80
2  79
<class 'pandas.core.frame.DataFrame'>

<h3> 원소 선택 </h3>

행 인덱스와 열 이름을 [행, 열] 형식의 2차원 좌표로 입력하여 원소 위치를 지정할 수 있다. 원소가 위치하는 행과 열의 좌표를 입력하면 해당 위치의 원소가 반환된다. 1개의 행과 2개 이상의 열 혹은 2개 이상의 행과 1개의 열을 선택할 경우 시리즈 객체가 반환된다. 2개 이상의 행과 2개 이상의 열을 선택하면, 데이터프레임 객체를 반환한다.

* **인덱스 이름: DataFrame 객체.loc[행 인덱스, 열 이름]**
* **정수형 위치 인덱스: DataFrame 객체.iloc[행 번호, 열 번호]**
* [행][열]형식도 사용가능하다.

딕셔너리를 데이터프레임으로 변환하고 '이름' 열을 **set_index() 메소드**를 이용해 행 인덱스로 지정하자. (set_index()는 1-3을 참고하자.)

In [ ]:
exam_data = {'이름': ['서준', '우현', '인아'],
             '수학': [90, 80, 79], 
             '영어': [98, 89, 95], 
             '음악': [85, 95, 100], 
             '체육': [100, 90, 90]}

df = pd.DataFrame(exam_data)

df = df.set_index('이름')
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  79  95  100   90

원소에 접근해보자.

In [ ]:
a = df.loc['서준', '음악']
print(a)
b = df.iloc[0, 2]
print(b)
a2 = df.loc['서준']['음악']
print(a2)
b2 = df.iloc[0][2]
print(b2)

85
85
85
85

이번에는 2개 이상의 원소를 선택해보자. 2개 이상의 원소를 가진 리스트를 입력할 수도 있고 슬라이싱을 사용할 수도 있다. <br>
반환되는 객체는 모두 시리즈 객체이다.

In [ ]:
c = df.loc['서준', ['음악', '체육']]
print(c)
d = df.iloc[0, [2, 3]]
print(d)
e = df.loc['서준', '음악': '체육']
print(e)
f = df.iloc[0, 2:]
print(f)

음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

행 인덱스와 열 인덱스를 각각 2개 이상 선택해보자. <br>
이런 경우 데이터프레임 객체를 반환한다.

In [ ]:
g = df.loc[['서준', '우현'], ['음악', '체육']]
print(g)
h = df.iloc[[0, 1], [2, 3]]
print(h)
i = df.loc['서준':'우현', '음악':'체육']
print(i)
j = df.iloc[0:2, 2:]
print(j)

    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90

<h3> 열 추가 </h3>

데이터프레임에 열을 추가하려면 추가하려는 열 이름과 데이터 값을 아래와 같은 형식으로 입력해야한다.

* **열 추가: DataFrame 객체[ '추가하려는 열 이름' ] = 데이터 값**

이때 모든 행에 동일한 값이 입력된다. <br>
단, 데이터 값이 아닌 행의 개수와 동일한 개수의 원소를 가진 리스트를 전달하면 각 값이 행에 입력된다.

In [ ]:
exam_data = {'이름': ['서준', '우현', '인아'],
             '수학': [90, 80, 79], 
             '영어': [98, 89, 95], 
             '음악': [85, 95, 100], 
             '체육': [100, 90, 90]}

df = pd.DataFrame(exam_data)

print(df)
print('\n')

df['국어'] = 80
print(df)
print('\n')

df['미술'] = [70, 80, 90]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  79  95  100   90


   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  79  95  100   90  80


   이름  수학  영어   음악   체육  국어  미술
0  서준  90  98   85  100  80  70
1  우현  80  89   95   90  80  80
2  인아  79  95  100   90  80  90

<h3> 행 추가 </h3>

데이터프레임에 행을 추가하려면 추가하려는 **행 이름과 데이터 값을 loc 인덱서를 사용하여 입력**하면된다. 하나의 데이터 값을 입력하거나, 열의 개수에 맞게 배열 형태로 여러 값을 입력할 수 있다. 이때 기존 행을 복사해 새로운 행에 그대로 추가할 수도 있다.

* **행 추가: DataFrame.loc[ '새로운 행 이름' ] = 데이터 값(또는 배열)** <br>
(iloc 사용시 오류가 발생한다.)

데이터프레임에 새로운 행을 추가할 때는 기존 행 인덱스와 겹치지 않는 새로운 인덱스를 사용한다. **기존 인덱스와 중복되는 경우 새로운 행을 추가하지 않고 기존 행의 원소값을 변경한다.** <br>
또한 행 인덱스를 지정할 때 기존 인덱스의 순서를 따르지 않아도 된다. 예를 들어 행이 3까지 있어도 df.loc[10] = 0을 사용해도 오류는 발생하지 않는다. 단, 행 인덱스는 10이 된다.

In [ ]:
exam_data = {'이름': ['서준', '우현', '인아'],
             '수학': [90, 80, 79], 
             '영어': [98, 89, 95], 
             '음악': [85, 95, 100], 
             '체육': [100, 90, 90]}

df = pd.DataFrame(exam_data)

print(df)
print('\n')

df.loc[3] = 0
print(df)
print('\n')

df.loc[4] = ['동규', 90, 80, 70, 60]
print(df)
print('\n')

df.loc['행5'] = df.loc[3]
print(df)
print('\n')

df.loc[10] = 11
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  79  95  100   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  79  95  100   90
3   0   0   0    0    0


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  79  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60


    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  79  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0


    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  79  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0
10  11  11  11   11   11

<h3> 원소 값 변경 </h3>

데이터프레임의 특정 원소를 선택하고 새로운 데이터 값을 지정해주면 원소값이 변경된다. 원소를 1개 선택해 변경할 수도 있고, 여러 개의 원소를 선택해 한꺼번에 값을 변경할 수도 있다.

* **원소 값 변경: DataFrame 객체의 일부분 또는 원소 선택 = 새로운 값**

먼저 한 개의 원소를 선택해 값을 바꿔보자.

In [ ]:
exam_data = {'이름': ['서준', '우현', '인아'],
             '수학': [90, 80, 79], 
             '영어': [98, 89, 95], 
             '음악': [85, 95, 100], 
             '체육': [100, 90, 90]}

df = pd.DataFrame(exam_data)
df.set_index('이름', inplace = True)
print(df)
print('\n')

df.iloc[0, 0] = 100
print(df)
print('\n')

df.iloc[0][3] = 80
print(df)
print('\n')

df.loc['서준']['체육'] = 90
print(df)
print('\n')

df.loc['서준', '체육'] = 100
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  79  95  100   90


     수학  영어   음악   체육
이름
서준  100  98   85  100
우현   80  89   95   90
인아   79  95  100   90


     수학  영어   음악  체육
이름
서준  100  98   85  80
우현   80  89   95  90
인아   79  95  100  90


     수학  영어   음악  체육
이름
서준  100  98   85  90
우현   80  89   95  90
인아   79  95  100  90


     수학  영어   음악   체육
이름
서준  100  98   85  100
우현   80  89   95   90
인아   79  95  100   90

여러 개의 원소를 선택해 새로운 값을 할당해보자.

In [ ]:
df.loc['서준', ['음악', '체육']] = 50
print(df)
print('\n')

df.loc['서준', ['음악', '체육']] = 100, 50
print(df)

    수학  영어   음악  체육
이름
서준  10  10   50  50
우현  10  10   95  90
인아  79  95  100  90


    수학  영어   음악  체육
이름
서준  10  10  100  50
우현  10  10   95  90
인아  79  95  100  90

<h3> 행, 열의 위치 바꾸기 </h3>

transpose() 메소드로 데이터프레임의 행과 열을 서로 바꿀 수 있다. 결과로 새로운 객체를 반환하므로 기존 객체를 변경하기 위해서는 df = df.transpose() 또는 df = df.T와 같이 기존 객체에 새로운 객체를 할당해주는 과정이 필요하다.
* **행, 열 바꾸기: DataFrame 객체.transpose() 또는 DataFrame 객체.T**

transpose() 메소드를 한 번 사용하고, 한 번 더 사용하게되면 원래 데이터프레임으로 돌아온다.

* 행과 열이 바뀐 행렬을 **전치 행렬**이라고 한다.

In [ ]:
exam_data = {'이름': ['서준', '우현', '인아'],
             '수학': [90, 80, 79], 
             '영어': [98, 89, 95], 
             '음악': [85, 95, 100], 
             '체육': [100, 90, 90]}

df = pd.DataFrame(exam_data)

print(df)
print('\n')

df = df.transpose()
print(df)
print('\n')

df = df.T
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  79  95  100   90


      0   1    2
이름   서준  우현   인아
수학   90  80   79
영어   98  89   95
음악   85  95  100
체육  100  90   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  79  95  100   90