<h3> 특정 열을 행 인덱스로 설정 </h3>

**set_index() 메소드**를 사용하면 데이터프레임의 특정 열을 행 인덱스로 설정한다.  **여러 열을 행 인덱스로 설정할 수도 있다.** 이런 경우를 **'멀티인덱스(MultiIndex) '**라고 한다. 단, 원본 데이터프레임을 바꾸지 않고 새로운 데이터프레임 객체를 반환한다.

* **특정 열을 행 인덱스로 설정: DataFrame 객체.set_index(['열 이름'] 또는 '열 이름')**

원본 데이터프레임을 바꾸기 위해서는 df = df.set_index['열 이름'] 처럼 원래 변수에 할당하거나 inplace 매개변수를 True로 지정해주면된다.<br>
set_index() 메소드를 사용해보자.

In [ ]:
import pandas as pd

exam_data = {'이름': ['서준', '우현', '인아'],
             '수학': [90, 80, 79], 
             '영어': [98, 89, 95], 
             '음악': [85, 95, 100], 
             '체육': [100, 90, 90]}

df = pd.DataFrame(exam_data)
print(df)
print('\n')

ndf1 = df.set_index(['이름'])
print(ndf1)
print('\n')

ndf2 = df.set_index('음악')
print(ndf2)
print('\n')

ndf3 = df.set_index(['수학', '음악'])
print(ndf3)
print('\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  79  95  100   90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  79  95  100   90


     이름  수학  영어   체육
음악
85   서준  90  98  100
95   우현  80  89   90
100  인아  79  95   90


        이름  영어   체육
수학 음악
90 85   서준  98  100
80 95   우현  89   90
79 100  인아  95   90

<h3> 행 인덱스 재배열 </h3>

**reindex() 메소드**는 데이터프레임의 행 인덱스를 새로운 배열로 재지정할 수 있다. 기존 객체를 변경하지 않고 새로운 데이터프레임 객체를 반환한다.

* **새로운 배열로 행 인덱스를 재지정: DataFrame 객체.reindex( 새로운 인덱스 배열 )**

기존 데이터프레임에 존재하지 않는 행 인덱스가 새롭게 추가되는 경우 그 행의 데이터 값은 NaN값이 입력된다. 이때 **fill_value 매개변수**에 원하는 값을 입력하면 해당 값으로 NaN값을 채워준다.

In [ ]:
dict_data = {'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [13, 14, 15]}

df = pd.DataFrame(dict_data)
print(df)
print('\n')

new_index = ['r0', 'r1', 'r2']
ndf = df.reindex(new_index)
print(ndf)
print('\n')

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15


    c0  c1  c2  c3  c4
r0 NaN NaN NaN NaN NaN
r1 NaN NaN NaN NaN NaN
r2 NaN NaN NaN NaN NaN

위처럼 일치하는 행 이름이 없다면 모두 NaN값이 출력된다. <br>
이번에는 fill_value 매개변수를 사용해 NaN값을 0으로 채워보자.

In [ ]:
dict_data = {'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [13, 14, 15]}

df = pd.DataFrame(dict_data, index = ['r0', 'r1', 'r2'])
print(df)
print('\n')

new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index)
print(ndf)
print('\n')

new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf2 = df.reindex(new_index, fill_value = 0)
print(ndf2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

<h3> 행 인덱스 초기화 </h3>

**reset_index() 메소드**는 행 인덱스를 정수형 위치 인덱스로 초기화한다. 이때 **기존 행 인덱스는 열로 이동**한다. 다른 메소드와 마찬가지로 새로운 객체를 반환한다.

* **정수형 위치 인덱스로 초기화: DataFrame 객체.reset_index()**

In [ ]:
dict_data = {'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [13, 14, 15]}

df = pd.DataFrame(dict_data, index = ['r0', 'r1', 'r2'])
print(df)
print('\n')

ndf = df.reset_index()
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

<h3> 행 인덱스를 기준으로 데이터프레임 정렬 </h3>

**sort_index() 메소드**는 행 인덱스를 기준으로 데이터프레임의 값을 정렬한다.<br>
**ascending 매개변수**를 사용해 오름차순 또는 내림차순을 설정할 수 있다. True인 경우 오름차순, False인 경우 내림차순을 반환한다. 다른 메소드와 마찬가지로 새로운 객체를 반환한다.

* **행 인덱스를 기준으로 정렬: DataFrame 객체.sort_index()**

In [ ]:
dict_data = {'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [13, 14, 15]}

df = pd.DataFrame(dict_data, index = ['r0', 'r1', 'r2'])
print(df)
print('\n')

ndf = df.sort_index(ascending = False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

특정 열의 데이터를 기준으로 데이터프레임을 정렬할 수도 있다. **sort_values() 메소드**를 활용하면 새롭게 정렬된 데이터프레임 객체를 반환한다.

* **열 기준 정렬: DataFrame 객체.sort_values()**

오름차순과 내림차순은 sort_index() 메소드와 동일하게 ascending 매개변수로 지정한다.

In [ ]:
dict_data = {'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [13, 14, 15]}

df = pd.DataFrame(dict_data, index = ['r0', 'r1', 'r2'])
print(df)
print('\n')

ndf = df.sort_values(by = 'c1', ascending = False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13