판다스 객체의 산술연산은 내부적으로 아래와 같은 3단계 프로세스를 거친다.

* 행/열 인덱스를 기준으로 모든 원소를 정렬한다.
* 동일한 위치에 있는 원소끼리 일대일로 대응시킨다.
* 일대일로 대응된 원소끼리 연산을 처리한다. 단. 대응되는 원소가 없으면 NaN으로 처리한다.

<h3> 시리즈 vs 숫자 </h3>

시리즈 객체에 어떤 숫자를 더하면 시리즈의 **모든 원소에 해당 숫자를 더하고 계산한 결과를 시리즈 객체로 반환한다**. <br>
덧셈, 뺄셈, 곱셈, 나눗셈 모두 가능하다.

* **시리즈와 숫자 연산: Series 객체 + 연산자(+, -, *, /) + 숫자**

In [ ]:
import pandas as pd

student1 = pd.Series({'국어': 100, '영어': 80, '수학': 90})
print(student1)
print('\n')

percentage = student1 / 200
print(percentage)
print('\n')
print(type(percentage))

국어    100
영어     80
수학     90
dtype: int64


국어    0.50
영어    0.40
수학    0.45
dtype: float64


<class 'pandas.core.series.Series'>

<h3> 시리즈 vs 시리즈 </h3>

시리즈와 시리즈끼리 사칙연산을 수행하면 시리즈의 모든 인덱스에 대하여 **같은 인덱스를 가진 원소끼리 계산한다**. 인덱스에 연산 결과를 매칭하여 새 시리즈를 반환한다.

* 시리즈와 시리즈의 연산: Series1 + 연산자(+, -, *, /) + Series2

두 시리즈 객체를 이용해 네 가지 사칙연산을 모두 처리해보고 DataFrame() 메소드를 이용해 하나의 데이터프레임으로 합쳐보자.

In [ ]:
student1 = pd.Series({'국어': 100, '영어': 80, '수학': 90})
student2 = pd.Series({'수학': 80, '국어': 90, '영어': 80})

print(student1)
print('\n')
print(student2)
print('\n')

addition = student1 + student2
subtraction = student1 - student2
multiplication = student1 * student2
division = student1 / student2
print(type(division))
print('\n')

result = pd.DataFrame([addition, subtraction, multiplication, division], index = ['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result)

국어    100
영어     80
수학     90
dtype: int64


수학    80
국어    90
영어    80
dtype: int64


<class 'pandas.core.series.Series'>


              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

위와 같이 **주어진 인덱스의 순서가 달라도 판단스는 같은 인덱스를 찾아 정렬한 후 같은 인덱스끼리의 값을 계산한다**.

연산을 하는 두 시리즈의 원소 개수가 다르거나 시리즈의 크기가 같아도 인덱스 값이 다를 수 있다. **어느 한쪽에만 인덱스가 존재하고 다른 쪽에는 짝을 지을 수 있는 동일한 인덱스가 없는 경우 정상적으로 연산을 처리할 수 없다.** 이런 경우 계산의 결과는 모두 NaN값을 가지게 된다. <br>
또한 동일한 인덱스가 양쪽에 있더라도 한쪽의 값이 NaN인 경우도 있다. 이런 경우에도 계산의 결과는 NaN이 된다.

In [ ]:
import numpy as np

student1 = pd.Series({'국어': np.nan, '영어': 80, '수학': 90})
student2 = pd.Series({'수학': 80, '국어': 90, '미술': 100})

print(student1)
print('\n')
print(student2)
print('\n')

addition = student1 + student2
subtraction = student1 - student2
multiplication = student1 * student2
division = student1 / student2
print(type(division))
print('\n')

result = pd.DataFrame([addition, subtraction, multiplication, division], index = ['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64


수학     80
국어     90
미술    100
dtype: int64


<class 'pandas.core.series.Series'>


     국어  미술        수학  영어
덧셈  NaN NaN   170.000 NaN
뺄셈  NaN NaN    10.000 NaN
곱셈  NaN NaN  7200.000 NaN
나눗셈 NaN NaN     1.125 NaN

<h3> 연산 메소드 </h3>

연산에서 객체 사이에 공통 인덱스가 없거나 NaN이 포함된 경우 연산 결과는 Nan으로 반환된다. 이런 상황을 피하려면 **연산 메소드**에 **fill_value 옵션**을 설정하여 적용하면된다.

* **연산 메소드 사용(시리즈와 시리즈의 덧셈): Series1.add(Series2, fill_value = 0)** <br> 
**(이외 연산 메소드: sub(), mul(), div())**

In [ ]:
student1 = pd.Series({'국어': np.nan, '영어': 80, '수학': 90})
student2 = pd.Series({'수학': 80, '국어': 90, '미술': 100})

print(student1)
print('\n')
print(student2)
print('\n')

sr_add = student1.add(student2, fill_value = 0)
sr_sub = student1.sub(student2, fill_value = 0)
sr_mul = student1.mul(student2, fill_value = 0)
sr_div = student1.div(student2, fill_value = 0)

result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div], index = ['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64


수학     80
국어     90
미술    100
dtype: int64


       국어     미술        수학    영어
덧셈   90.0  100.0   170.000  80.0
뺄셈  -90.0 -100.0    10.000  80.0
곱셈    0.0    0.0  7200.000   0.0
나눗셈   0.0    0.0     1.125   inf

<h3> 데이터프레임 vs 숫자 </h3>

**데이터프레임에 어떤 숫자를 더하면 모든 원소에 숫자를 더한다.** 덧셈, 뺄셈, 곱셈, 나눗셈 모두 가능하다. 기존 데이터프레임의 형태를 그대로 유지한 채 원소 값만 새로운 계산값으로 바뀐다. 단, 계산 결과는 새로운 객체로 반환된다.

* **데이터프레임과 숫자 연산: DataFrame 객체 + 연산자(+, -, *, /) + 숫자**

**Seaborn 라이브러리**에서 제공하는 데이터셋중 하나인 타이타닉 데이터셋을 사용해서 계산해보자.

In [ ]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]
print(df.head())
print('\n')
print(type(df))
print('\n')

addition = df + 10
print(addition.head())
print('\n')
print(type(addition))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500


<class 'pandas.core.frame.DataFrame'>


    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500


<class 'pandas.core.frame.DataFrame'>

<h3> 데이터프레임 vs 데이터프레임 </h3>

**데이터프레임의 같은 행, 같은 열 위치에 있는 원소끼리 계산한다.** 이처럼 동일한 위치의 원소끼리 계산한 결과값을 원래 위치에 다시 입력하여 데이터프레임을 만든다. 데이터프레임 중에서 한쪽의 원소가 존재하지 않거나 NaN이면 계산결과는 NaN으로 처리된다.

* **데이터프레임의 연산자 활용: DataFrame1 + 연산자(+, -, *, /) + DataFrame2**

아래 코드는 데이터프레임의 **열의 개수와 동일한 개수의 원소를 가진 리스트를 데이터프레임 객체에 더해본 코드**이다. 이 경우 행마다 동일한 계산이 수행된다.

In [ ]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]
print(df.head())
print('\n')
print(type(df))
print('\n')

result = df + [10, 10]
print(result.head())
print('\n')
print(type(result))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500


<class 'pandas.core.frame.DataFrame'>


    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500


<class 'pandas.core.frame.DataFrame'>

아래는 **이차원 배열 형태를 가지는 리스트를 데이터프레임 객체와 더해본 코드**이다. 행의 개수에 맞춰 계산되고 나머지 행의 결과는 NaN으로 반환된다.

In [ ]:
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]
print(df.head())
print('\n')
print(type(df))
print('\n')

df2 = pd.DataFrame([[10, -10], [10, -10]], columns = ['age', 'fare'])

result = df + df2
print(result.head())
print('\n')
print(type(result))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500


<class 'pandas.core.frame.DataFrame'>


    age     fare
0  32.0  -2.7500
1  48.0  61.2833
2   NaN      NaN
3   NaN      NaN
4   NaN      NaN


<class 'pandas.core.frame.DataFrame'>

아래는 데이터프레임과 데이터프레임간에 계산을 수행한 코드이다.

In [ ]:
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]
print(df.tail())
print('\n')
print(type(df))
print('\n')

addition = df + 10
print(addition.tail())
print('\n')
print(type(addition))

subtraction = addition - df
print(subtraction.tail())
print('\n')
print(type(subtraction))

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75


<class 'pandas.core.frame.DataFrame'>


      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75


<class 'pandas.core.frame.DataFrame'>
      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0


<class 'pandas.core.frame.DataFrame'>