판다스 **read_html() 함수**는 HTML 웹 페이지에 있는 <table> 태그에서 표 형식의 데이터를 모두 찾아서 데이터프레임으로 변환한다. 표 데이터들은 각각 별도의 데이터프레임으로 변환되기 때문에 **여러 개의 데이터프레임을 원소로 갖는 리스트가 반환**된다. <br>
read_html() 함수로 웹 페이지의 표 정보를 파싱(parsing)하려면, HTML 웹페이지 주소(URL)를 입력해주면된다.

* **HTML 표 속성 읽기: pandas.read_html( " 웹 주소(URL) " 또는 " HTML 파일 경로 이름 " )**

In [ ]:
import pandas as pd

# 변수 tables에 데이터프레임들을 원소로 가진 리스트를 저장한다.
tables = pd.read_html('sample.html')

# 데이터프레임 개수를 확인해본다.
print(len(tables))
print('\n')

# 모든 데이터프레임을 출력해본다.
for i in range(len(tables)):
  print('tabel[%s]' % i)
  print(tables[i])
  print('\n')

# 두 번째 데이터프레임을 선택해 df 변수에 저장한다.
df = tables[1]

# name 열을 인덱스로 지정한다.
df.set_index('name', inplace = True)
print(df)

2


tabel[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


tabel[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True


            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True